.login
  width 352px
  text-align center

  &__title
    font-size 18px
    color #000
    display block
    margin 5px 0 20px

  .form-group
    margin-bottom 5px

  .input-group
    display inline-table
    height 43px

    .form-control
      font-size 18px
      height 100%

    &-addon
      font-size 18px
      color #999

  .btn
    width 240px
    font-size 18px
    padding 7px 0
    margin-bottom 10px

  .checkbox
    color #000
    margin-bottom 10px
