.offer

  .col-sm-4
    width 290px

  .btn
    margin-top 10px
    font-size 18px
    letter-spacing .5px
    padding 10px 20px

  .col-sm-2
    width 150px

    & > .form-control
      display inline-block
      width 77px

  &__text
    font-size 14px
    margin-left 5px

  &__dash
    font-size 24px
    color #000
    margin 0 8px

  .panel-heading
    color #808080
    font-size 16px
    font-weight bold
    letter-spacing .5px

  .panel-body
    padding 0

  &-description
    padding 25px
    border-bottom 1px solid #ddd
    color #333

    b
      display block

  .form-horizontal
    margin-top 25px

    .form-control
      color #000

    .control-label
      color #4a4a4a
      letter-spacing .5px
      padding-right 0

    .date
      width 125px
      display inline-table
      vertical-align top

      .form-control
        font-size 12px

      .input-group-addon
        width 1px
        color #000

