.points
  font-size 0
  text-align center
  color #000

  img
    size 125px

  &-list
    margin-top 40px

    &__address
      display block
      color #3a87ad
      font-size 18px
      margin 20px 0

    &__pos
      color #000
      font-size 14px

    &__new
      font-size 16px
      font-weight 700
      letter-spacing .5px

    .panel
      display inline-block
      vertical-align top
      width 300px
      height 200px
      margin-right 35px

      .panel-title
        font-weight 700
        letter-spacing 1px

      .panel-body
        text-align center

      &:hover
        text-decoration none

        .points-list__address
          text-decoration underline

      &:last-child
        margin-right 0

      .glyphicon-plus
        font-size 33px
        display block
        margin 50px 0 15px
