.header
  display inline-block
  color #000

  &__title
    font-size 36px

  .breadcrumb
    font-size 18px
    margin 0
    background-color transparent

    .active
      color #000

.start
  width 100%
  margin-top 25px
  height 287px
  border-radius 6px
  background-color #f7f7f7
  border dashed 3px #979797

  & > div
    width 479px
    display inline-block

  span
    display inline-block
    margin-top 68px
    color #9b9b9b
    width 479px
    font-size 24px
    margin-bottom 37px

  .btn
    display inline-block
    font-size 18px
    padding 10px 30px

.finish
  margin-top 35px

  &-profile
    display inline-block
    vertical-align top
    size 126px
    margin 30px 40px 0 0

  &-number
    display inline-block
    width 100px
    color #000
    margin-bottom 25px

    &__count
      font-size 42px
      letter-spacing 1px

    &__man
      font-size 14px

  &-info
    display inline-block
    width 521px
    text-align left

    table
      color #000

    &__updated
      color #878787
      font-size 14px
      font-style italic
      text-align left

    .panels
      font-size 0
      text-align center

    .panel
      display inline-block
      width 161px
      margin-right 19px

      &:last-child
        margin-right 0

